{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('member_my_data') }}">Mes Données</a><br />
    <a href="{{ path('member_my_grades') }}">Mes Grades</a><br />
    <a href="{{ path('member_my_licence') }}">Ma licence</a><br />
{% endblock %}

{% block javascripts %}
{% endblock %}
