{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ commission.commissionName() }}</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Commandes</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a href="{{ path('secretariat_commission_member_add', {'commission': commission.commissionId()}) }}">Ajouter</a></td>
        </tr>
        {% for member in members %}
            <tr>
                <td>{{ member.Name|title }}</td>
                <td>{{ member.Firstname|title }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
