{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des commissions</h1>
    <h2><a href="{{ path('secretariat_commission_create') }}">Ajouter</a></h2>
    <table>
        <tr>
            <th>Nom</th>
            <th>Commandes</th>
        </tr>
        {% for commission in commissions %}
            <tr>
                <td>{{ commission.getCommissionName() }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
