{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Commandes</th>
        </tr>
        {% for member in members %}
            <tr>
                <td>{{ member.Name }}</td>
                <td>{{ member.Firstname }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
