{% extends 'base.html.twig' %}

{% block title %}
    AFAManager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('common_index') }}">Home</a>
    <h1>Liste</h1>
    <h2><a href="{{ path('secretariat_supporter_index') }}">Sympathisants</a></h2>
{% endblock %}

{% block javascripts %}
{% endblock %}
