{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Promotions Kagami Biraki</h1>
    <h2><a href="{{ path('secretariat_kagami_create') }}">Nouvelle promotion</a></h2>
    {% if sessions != null %}
        <h2>Liste promotion</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Ouverture propositions</th>
                <th>Commandes</th>
            </tr>
            {%  for session in sessions %}
                <tr>
                    <td>{{ session.getGradeSessionDate()|date("d/m/Y") }}</td>
                    <td>{{ session.getGradeSessionCandidateOpen()|date("d/m/Y") }}</td>
                    <td><a href="{{ path('secretariat_kagami_update', {'session': session.getGradeSessionId()}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
