{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('grade_exam_index') }}">Examens Fédéraux</a><br />
{% endblock %}

{% block javascripts %}
{% endblock %}
