{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div style="text-align: center"><img src={{ asset('images/logo-afa-manager.svg') }} /></div>
{% endblock %}

{% block javascripts %}
{% endblock %}
