{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('club_my_admin') }}">Dojo(s), horaires & professeurs</a><br />
    <a href="{{ path('club_members_list') }}">Liste des membres</a><br />
    <a href="{{ path('club_association_details') }}">Détails Association</a><br />
{% endblock %}

{% block javascripts %}
{% endblock %}
