{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>Formulaire d'ajout de dojo</h1>

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
